{% extends "base.html"%}
{% block title %}О сайте{% endblock %}
{% block content %}
<div class="container-fluid text-center">
    <h1 class="display-5">PET CARE - не будь равнодушен к братьям нашим меньшим</h1>
    <h1 class="m-5"></h1>
    <h1 class="m-5"></h1>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 1280px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='image/so_lazy.jpeg') }}"
                     class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">Задача сайта</h3>
                    <p class="fs-4"> Приветствуем, дорогие друзья!</p>
                    <p class="fs-4"> Данный сайт создан для объединения людей, у которых есть питомцы</p>
                    <p class="fs-4"> Вы можете уточнить что-то по уходу за животными,</p>
                    <p class="fs-4"> рассказать о своем опыте,</p>
                    <p class="fs-4"> помочь кому-то советом </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}