{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1 class="title">
            Добро пожаловать!
        </h1>
    </div>
    <br>
    <br>
    <div class="col-6 mx-auto">
        <div class="card shadow border">
            <div class="card-body d-flex flex-column align-items-center">
                <h2 class="fs-3">
                    Выйти из аккаунта?
                </h2>
                <br>
                <a href="{{ url_for ('logout') }}" class="btn btn-outline-danger">Выйти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}