{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
    <div class="row align-items-center vh-125">
        <div class="col-6 mx-auto">
            <div class="card shadow border">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 class="title">Регистрация</h3>
                    <br>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="notification is-danger">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <form method="POST" action="/signup">
                        <div class="box">
                            <form action="/registration" method="POST">
                                <div class="field">
                                    <div class="control">
                                        <input class="form-control form-control-sm" type="text" name="login"
                                               placeholder="Логин"
                                               autofocus="">
                                    </div>
                                </div>
                                <br>
                                <div class="field">
                                    <div class="control">
                                        <input class="form-control form-control-sm" type="password" name="psw"
                                               placeholder="Пароль">
                                    </div>
                                </div>
                                <br>
                                <div class="field">
                                    <div class="control">
                                        <input class="form-control form-control-sm" type="password" name="psw2"
                                               placeholder="Повторите пароль">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
                <br>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Зарегистрироваться</button>
                    </div>
                </div>
                <br>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Уже есть аккаунт? <a class="ml-2" href="{{ url_for ('login_page') }}">Войти</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}